# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

/**/target
*.lock
.build/
*.ll
*.azl
*.c

!*/*.azl
!tests/**/*.azl
!examples/**/*.azl
!compiler/**/*.azl
.DS_STORE/build/
